 <body>
   <h1><%= article.title %></h1>
    <p><%= article.content %></p>
    <ul>
      <% pets.forEach(pet => { %>
        <li><%= pet.name %></li>
      <% }); %>  
    </ul>
    <a href="/user/123">Normal</a>
    <a href="/user/0">Special</a>
    <a href="/test.html">test</a>
  </body>

